td {
    border: 1px solid blue;
    height: 250px;
    width: 250px;
    text-align: center;
    font-size: 85px;
    color: purple;
    font-weight: bold;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-ez30q6clGFzbOKHscmsovRlrtYYxEAZVi76Dyf4uSu49l6zW");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px, 300px;
  }
  td:hover {
    background-image: url("https://www.gamespew.com/wp-content/uploads/2019/02/Hulkamania-1-696x391.jpg");
  }
  table {
    border: 1px solid green;
  }

  button {
    background-color: rgb(250, 246, 36); /* Green */
    border: none;
    color: rgb(246, 17, 17);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }

  .content {
      max-width: 500px;
      margin: auto;
      text-align: center;
  }